header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;

  nav {
    .main-nav {
      display: flex;
      align-items: center;
      margin: 0px;
      padding: 0px;
      list-style: none;

      &__logo {
        display: flex;
        align-items: center;
        margin: 0px;
        margin-left: 50px;
        padding: 0px;
        width: 333px;
        height: 90px;

        img {
          width: 333px;
          height: 90px;
        }
      }

      &__item {
        max-width: min-content;
        text-align: center;
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: right;

        &__item {
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
          max-width: max-content;

          a {
            text-align: center;
            color: inherit;
            text-decoration: none;
          }

          &--active {
            border-bottom: 5px solid #ff3c82;
          }
        }

        &__button {
          max-width: max-content;
          padding-right: 31px;
          padding-left: 65px;
          button {
            max-width: max-content;
          }
        }
      }
    }
  }
}
