.details {
  &-container {
    width: 739.5px;
    background: #FFFFFF;
    border-radius: 20px;

    &-head {
      margin: 0px;
      padding: 0px;
      margin-left: 20.5px;
      
      &__title{
        margin: 0px;
        margin-top: 24px;
        margin-bottom: 8px;
        padding: 0px;
        height: 22px;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 110%;
        color: #000000;
      }
    }

    &-project {
      margin: 0px;
      margin-bottom: 45px;
      padding: 0px;
      display: flex;
      align-items: center;
      
      figure {
        margin: 0px;
        margin-left: 20.5px;
        padding: 0px;
        width: 289.5px;
        height: 284.25px;
  
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }

      &__item {
        margin: 0px;
        padding: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 36px;
        color: #000000;
      }
    }
  }
}
